.modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.modal-content {
  width: 500px;
  background-color: #fff;
  border-radius: 3px;
  text-align: center;
}

.modal-header {
  padding: 10px;
}

.modal-title {
  margin: 0;
}

.modal-body {
  padding: 10px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

.gameHeader {
  border-radius: 5px;
  border: 1px black solid;
  padding: 4px;
  width: 230;
}

.raceTrack {
  border: 1px dashed black;
  border-top: none;
  border-left: none;
  border-right: none;
  width: 900px;
  margin: auto;
  margin-top: 10px;
}

.eevee {
  width: 40px;
  height: 40px;
}

.authPage {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-image: url(./assets/background.jpg);
  align-items: center;
  height: 100%;

  .authForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 0px;
    background: black;
    padding: 15px;
    height: 300px;

    .codehero {
      display: flex;
      color: white;
      font-size: xx-large;
    }

    button {
      display: flex;
      flex-direction: column;
      border-width: 0px;
      border-radius: 6px;
      background: linear-gradient(145deg, #e84f7b, #c34368);
      box-shadow: 1px 1px 0px #571e2e, -1px -1px 0px #ff76b8;
    }
  }
}
