.modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  width: 500px;
  background-color: #fff;
  border-radius: 3px;
  text-align: center;
}

.modal-header {
  padding: 10px;
}

.modal-title {
  margin: 0;
}

.modal-body {
  padding: 10px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

.gameHeader {
  border-radius: 5px;
  border: 1px black solid;
  padding: 10px;
  width: 230;
}

.trackBox {
  border: 1px dashed black;
  border-top: none;
  border-left: none;
  border-right: none;
  display: flex;
  width: 900px;
  margin: auto;
  margin-top: 40px;
}

.eevee {
  width: 50px;
  height: 50px;
}
